<div class="container">


 <div id="album">
          <app-pictures></app-pictures>
          </div>
  <div class="row">
    <div class="cover"><img src="assets/images/novios.png" class="img-fluid" alt="Responsive image"></div>
      <div class="uno col-6 col-sm-3 position-absolute">WELCOME</div>
        
       

        <div  class="dos col-md-auto position-absolute"><p>The Wedding<br>Portfolio</p></div>
        <div class="tres col-6 col-sm-3  pt-3 position-absolute"><h5 >PHOTOGRAPHY<i class="fas fa-long-arrow-alt-right fa-2x icono"></i></h5></div>
        <!-- Force next columns col-md-auto to break to new line -->
        </div>
    
       

      <div class="section">
        <div class="camer" >
            
        </div>
      </div>
      
      <div class="row" id="about">
          <div class="col section">
            
          </div>
          <div class="col descrip">
             <h1 >About me</h1>
             <br>
              <p>Wedding photography, is not just making beautiful photos,
                is telling a story, is stopping the time to snatch an unrepeatable
                 moment of life to turn it into an eternal image.
                 <br>
                 <br> 
                I like couples who have TRUST in me, who like my style, 
                who do not look for a photographer for their WEDDING, 
                if not their Personal photographer.
                 </p>
          </div>
        </div>


       
         
          <div id="ok" class="gallery row justify-content-md-center">
            <div class="col-6 col-md-4 item">
              <a href="pictures.component.html" [routerLink]="['/portfolio']"><img class="shoes" src="assets/images/shoes.png" alt=""></a>
              <a class="readmore" [routerLink]="['/']">READ MORE <i class="fas fa-long-arrow-alt-right fa-2x derecha "></i></a>
            </div>
            <div class="col-6 col-md-4">
               <a href="" [routerLink]="['/portdos']"><img class="shoes"  src="assets/images/shoes.png" alt=""></a>
                <a class="readmore"  [routerLink]="['/pictures']" >READ MORE <i class="fas fa-long-arrow-alt-right fa-2x derecha "></i></a>
              </div>
            <div class="col-6 col-md-4">
                <img class="shoes" src="assets/images/shoes.png" alt="">
                <a class="readmore" [routerLink]="['/pictures']">READ MORE <i class="fas fa-long-arrow-alt-right fa-2x derecha "></i></a>
              </div>
          </div>


          <div class="last">
             
            </div>
            
            <div class="row ">
                <div class="col la">
                  
                </div>
                <div class="col boda ">
                  <div class="bg-transparent">
                    <p class="debo text-center text-white font-weight-normal"><i>“If you remember,<br>
                      you will live <br>twice.“</i> 
                       </p></div>
                </div>
              </div>


       


              <!-- <div class="contacto">
                <img src="assets/images/captura.png" alt="">
              </div> -->

              
          
            
  


           
             
                
                
                
                <div class="vl" id="contact">

                  <div class="medio"><p class="talk">Let's Talk <br><h4>Tel : +41 25 45 69</h4></div>
                       
                  <form class="fe">
                    
                    <div class="form-group ">
                     
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    
                    <div class="form-group">
                      
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn">Submit</button>
                  </form>
                 
                </div>

</div>



